:root {
    --bg-color: #45a049;
    --bg-color2: #59c75e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

#container {
    width: 80%;
}

#container h3 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 16px;
}


#container button {
    padding: 8px 16px;
    background-color: var(--bg-color);
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
}

.actions {
    margin-bottom: 16px;
}