/* paginate */
#pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

#pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    margin: 0 4px;
    border-radius: 6px;
}

#pagination li a.active {
    background-color: var(--bg-color);
    color: white;
}

#pagination li a:hover:not(.active) {
    background-color: lightgray;
}

#pagination li.disabled a {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

#pagination li.disabled a:hover {
    background-color: transparent;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    display: block;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}