table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    color: white;
    background-color: var(--bg-color);
}

tr>td:last-child button:last-child {
    background-color: #f44336 !important;
}